<%= simple_form_for @listing do |f| %>
	<% if @listing.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@listing.errors.count, "error") %> prohibited
			this listing from being saved:
		</h2>
		<ul>
			<% @listing.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= f.input :title %>
	<%= f.input :cost %>
	<%= f.input :description %>

	<div class="form-group">
    <fieldset>
      <% if @categories.present? %>
        <%= f.label 'Category (select one or more categories)' %>
        <%= f.collection_select :category_ids, @categories, :id, :name, {}, {multiple: true,  class: 'form-control'} %>
      <% end %>
      <br/>
      <%= f.fields_for :categories, @new_category do |categories_fields| %>
        <%= categories_fields.label 'or create a new category' %>
        <%= categories_fields.text_field :name, class: 'form-control' %>
      <% end %>
		</fieldset>
  </div>
<br>

  <h3>
    Vehicle Types
  </h3>
	<div class="col-auto">
			<%= f.fields_for :types do |type| %>
			<%= type.label :name %>
			<%= type.text_field :name, placeholder: ' Type name', class: 'form-control' %>
			<%= type.fields_for :listing_types do |listing_type| %>
			<%= listing_type.label :length %>:
			<%= listing_type.text_field :length, placeholder: 'Length in inches', class: 'form-control' %>
			<% end %>
			</div>
	<% end %>

<br>

	<%= f.input :contact %>
	<%= f.input :image, as: :file %>
	<%= f.input :address %>
	<%= f.button :submit %>
<% end %>
