<%= simple_form_for @listing do |f| %>
	<% if @listing.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@listing.errors.count, "error") %> prohibited
			this listing from being saved:
		</h2>
		<ul>
			<% @listing.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= f.input :title %>
	<%= f.input :cost %>
	<%= f.input :description %>
	<div class="form-group">
    <fieldset>
      <% if @categories.present? %>
        <%= f.label 'Category (select one or more categories)' %>
        <%= f.collection_select :category_ids, @categories, :id, :name, {}, {multiple: true,  class: 'form-control'} %>
      <% end %>
      <br/>
      <%= f.fields_for :categories, @new_category do |categories_fields| %>
        <%= categories_fields.label 'or create a new category' %>
        <%= categories_fields.text_field :name, class: 'form-control' %>
      <% end %>
		</fieldset>
  </div>
<br>
<div class="form-group">
	<fieldset>
		<h4>Vehicle Types</h4>
	<% f.fields_for :types do |l| %>
		<%= l.label :name %>:
		<%= l.text_field :name %>
		<% l.fields_for :listing_types do |lt| %>
		<% lt.label :length %>
		<% lt.text_field :length %>
		<% end %>
	</fieldset>
</div>
<% end %>
	<%= f.input :contact %>
	<%= f.input :image, as: :file %>
	<%= f.input :address %>
	<%= f.button :submit %>
<% end %>
