<div class="post-banner"></div>

  <h1> All Listings</h1>
  <div class="container-fluid">
<% @listings.each do |listing| %>
<div class="col-md-3">
  <div class="thumbnail fluid ow">
 
    <%= link_to listing do %>
    <%= image_tag listing.image, class: 'listing-images' %>
    <% end %>
    <p class="fluid ow">
      <strong><%= link_to listing.title, listing %></strong>
      <button type="button" class="js-more" data-id="<%= listing.id %>">More Info</button>
      <div id="listing-<%= listing.id %>"><%= truncate(listing.description) %></div>
      <%= number_to_currency(listing.cost) %></p>
     
      </div>
      </div>
      <% end %>
      </div>

      <script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/listings/" + id + ".json", function(data) {
      var listing = data;
      var descriptionText = "<p>" + listing["description"] + "</p>";
      $("#listing-" + id).html(descriptionText);
      
    });
  });
});
</script>