<div class="container-fluid pretty-search">
    <div class="row justify-content-center">
        <div class="col-md-5" style="text-align: center">
            <br>
            <br>
            <br>
            <h1 style="color:whitesmoke">Find a Parking Spot!</h1>
            <br>
                <%= form_tag(listings_path, method: :get, class: '')  do %>
                    <div class="row">
                        <div class="col-md-10 padding-0"><%= text_field_tag :search_query, "", class: "form-control margin-0", placeholder: "Find the perfect parking space?" %></div>
                        <div class="col-md-1 padding-0"><%= submit_tag 'Search', class: "btn btn-secondary margin-0", style:'margin-left: 10px;' %></div>
                    </div>
                <% end %>
        </div>
    </div>
</div>
<p>&nbsp</p>
<p>&nbsp</p>
<div class="container">

        <div class="row justify-content-center">
            <div class="col-md-10 content-box">
                <%= render partial: "ParkHere"%>
            </div>
            <br>
        </div>
        <br>
    <%end%>
    <div class="row justify-content-center">
        <div class="col-md-10 content-box">
            <div class="row">
                <div class="col-md-10 pull-left"><h2>Garages</h2></div class="col-md-6">
                <div class="col-md-2 pull-right"><%= button_to  "View More", category_path(garage_category), method: :get, class: 'btn btn-primary' %></div>
            </div>
            <div class="row">
                <%= render partial: "listings/listing", collection: top_listings("Garage") %>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 pull-left"><h2>Driveway</h2></div class="col-md-6">
                <div class="col-md-2 pull-right"><%= button_to  "View More", category_path(driveway_category), method: :get, class: 'btn btn-primary' %></div>
            </div>
            <div class="row">
                <%= render partial: "listings/listing", collection: top_listings("Driveway") %>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 pull-left"><h2>Carport</h2></div class="col-md-6">
                <div class="col-md-2 pull-right"><%= button_to  "View More", category_path(carport_category), method: :get, class: 'btn btn-primary' %></div>
            </div>
            <div class="row">
                <%= render partial: "listings/listing", collection: top_listings("Carport") %>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 pull-left"><h2>Parking Lot</h2></div class="col-md-6">
                <div class="col-md-2 pull-right"><%= button_to  "View More", category_path(lot_category), method: :get, class: 'btn btn-primary' %></div>
            </div>
            <div class="row">
                <%= render partial: "listings/listing", collection: top_listings("Lot") %>
            </div>

        </div>
    </div>
</div>
<p>&nbsp</p>
